<h1>This is the Edit Users Page</h1>

<% if @user.errors.any? %>
	<ul>
	<% @user.errors.full_messages.each do |e|%>	
	<li><%= e %></li> 
	<% end%>
	</ul>
<% end %>

<%= form_for @user do |f| %>
	<%= f.label :username, "Username" %>
	<%= f.text_field :username %>
	</br>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email, value: "example@example.com" %>
	</br>
	<%= f.label :password, "Password" %>
	<%= f.password_field :password %>
</br>
	<%= f.submit "Update User" %>
<% end %>