<h1>This is the New Users Page</h1>

<!-- <form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
	<input type="text" name="user[username]">
	<label for="user[username]">Username</label> 
	<input type="email" name="user[email]">
	<label for="user[email]">email</label>
	<input type="password" name="user[password]">
	<label for="user[password]">Password</label>
	<input type="submit" value ="Submit">
</form> 

<%= form_tag("/users", method: :post) do %>
	<%= label_tag "user[username]", "Username" %>
	<%= text_field_tag "user[username]"  %>
	<%= label_tag "user[email]", "Email" %>
	<%= text_field_tag "user[email]" %>
	<%= label_tag "user[password]", "Password" %>
	<%= password_field_tag "user[password]" %>
	<%= submit_tag "Create User" %> 
<% end %> -->

<%= form_for @user do |f| %>
	<%= f.label :username, "Username" %>
	<%= f.text_field :username %>
	</br>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email, value: "example@example.com" %>
	</br>
	<%= f.label :password, "Password" %>
	<%= f.password_field :password %>
</br>
	<%= f.submit "Create User" %>
<% end %>